<main>
  <div class="body">
    <h1 class="mat-h1">Formularios mediante QueryParam</h1>
    <p class="mat-subtitle-1">Añade a la url ?id=<strong>number</strong>, actualmente están generados 9 formularios
      sencillos distintos</p>
    <ng-container *ngIf="formlyConfig">
      <form [formGroup]="formlyConfig.form" (ngSubmit)="submit()">
        <h2 class="mat-h2">{{formlyConfig.title}}</h2>
        <formly-form [(model)]="formlyConfig.model"
                     [fields]="formlyConfig.fields"
                     [form]="formlyConfig.form"
                     [options]="formlyConfig.options">
        </formly-form>
        <p>{{ formlyConfig.model |json}}</p>
        <button mat-raised-button color="primary" type="submit" class="btn btn-primary submit-button">Submit</button>
        <button *ngIf="!!formlyConfig.options?.resetModel" mat-raised-button color="accent" type="button"
                class="btn btn-default"
                (click)="formlyConfig.options?.resetModel()">Reset
        </button>

      </form>

    </ng-container>
  </div>
</main>
